
.one {
	color: red;
}

.two {
	color: orange;
}

.three {
	color: yellow;
}

.four {
	color: green;
}

.five {
	color: blue;
}

.form {
	background-color: blue;
	width: 45%;
	float: left;
}

.listing {
	background-color: green;
	width: 45%;
	float: right;
	border: solid 5px;
}

.formfn {


}

.formln {


}

.empnum {


}

.title {


}

.lastrev {


}

.salary {


}

.submit {


}

.page {
	background-color: grey;
	width: 960px;
}

