
/*All of this needs to be refactored for repitition*/
body {
	width: 960px;
	height: auto;
	display: block;
	margin: auto;
	z-index: -1;
	background-image: url(bluesun.jpg);;
	background-repeat: no-repeat;
	background-color: #2C40A0;
}

header {
	font-size: 56px;
	font-family: 'Exo', sans-serif;
	margin:8px;
	padding: 20px 0 15px 0;

}

button {
	margin: 12px 0 4px 0;
}

aside {
	float:right;
	width: 50%;
}

ul {
		float: right;
		background-color: #81A7D3;
		font-family: 'Exo', sans-serif;
		padding: 10px;
		margin: 6px;
		border-radius: 10px;
		border: solid 2px;
		border-color: white;
		line-height: 100%;
	}

li {
	list-style: none;
}
.one {
	color: #A79100;
}

.two {
	color: #D9BD00;
}

.three {
	color: #FFDE00;
}

.four {
	color: #FFB600;
}

.five {
	color: #5F36AE;
}

.form {
	background-color: #81A7D3;
	width: 45%;
	float: left;
	font-family: 'Exo', sans-serif;
	padding: 6px;
	margin: 3px;
	border-radius: 10px;
	border: solid 2px;
	border-color: white;
}

.listing {
	width: 45%;
	float: right;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
}

.formfn {
	margin: 12px 4px 5px 7px;
}

.formln {
	margin: 4px;
	padding: 4px;
}

.empnum {
	margin: 4px;
	padding: 4px;
}

.title {
	margin: 4px;
	padding: 4px;
}

.lastrev {
	margin: 4px;
	padding: 4px;
}

.salary {
	margin: 4px;
	padding: 4px;
}

.submit {
	margin: 4px;
	padding: 4px;
}
